# Configuración de Desarrollo
DEBUG=True
ENV=development

# Base de Datos SQLite (Desarrollo)
DB_NAME=db.sqlite3
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

# Base de Datos PostgreSQL (Producción) - COMPLETAR MANUALMENTE
# DB_NAME=nombre_base_datos
# DB_USER=usuario_postgres
# DB_PASSWORD=contraseña_segura
# DB_HOST=localhost
# DB_PORT=5432

# Base de datos local (solo production en VPS - modo servidor)
# DB_NAME=gayozolibreria
# DB_USER=gallozo_admin
# DB_PASSWORD=gall0z0lib$
# DB_HOST=localhost
# DB_PORT=5432

# Claves Secretas (Generar nuevas para producción)
SECRET_KEY=tu-secret-key-aqui
DJANGO_SECRET_KEY=tu-django-secret-key-aqui

# Email (Configurar para producción)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-contraseña-email

# Otros
ALLOWED_HOSTS=127.0.0.1,localhost
