{% extends 'base/layout.html' %}
{% load static %}
{% block head %}
  <!-- head_list -->
  <link rel="stylesheet" href="{% static 'lib/datatables-1.13.6/css/dataTables.bootstrap5.min.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'lib/datatables-1.13.6/css/jquery.dataTables.min.css' %}" /> -->
  <script src="{% static 'lib/datatables-1.13.6/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'lib/datatables-1.13.6/js/dataTables.bootstrap5.min.js' %}"></script>

  {% block head_list %}

  {% endblock %}
{% endblock %}

{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-search"></i>
        {{ title }}
      </h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="data">
          <thead>
            {% block columns %}

            {% endblock %}
          </thead>
          <tbody>
            {% block rows %}

            {% endblock %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      {% block buttons_list %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest"><i class="fas fa-plus"></i> Nuevo registro</a>
        <a href="{{ list_url }}" class="btn btn-success btn-flat"><i class="fas fa-sync"></i> Actualizar</a>
      {% endblock %}
    </div>
  </div>

  {% block javascript %}
    <script type="application/javascript">
        $(function () {
            // DataTables initialization is now handled by individual list.js files
            // to allow proper Ajax configuration with CSRF tokens
            
            $('.btnTest').on('click', function () {
                $.ajax({
                    url: '{% url 'erp:category_list' %}',
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            });
        });
    </script>
  {% endblock %}
{% endblock %}
