{% extends 'list.html' %}
{% load static %}
{% load currency_filters %}
{% block head_list %}
    <script src="{% static 'product/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 6%;">Nro</th>
        <th scope="col" style="width: 18%;">Nombre</th>
        <th scope="col" style="width: 12%;">Código</th>
        <th scope="col" style="width: 18%;">Categoría</th>
        <th scope="col" style="width: 10%;">Imagen</th>
        <th scope="col" style="width: 12%;">Precio s/IVA</th>
        <th scope="col" style="width: 12%;">Precio c/IVA</th>
        <th scope="col" style="width: 12%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}