{% extends 'home.html' %}
{% load static %}
{% block body %}
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <span class="h1">CRM MultilideresTech</span>
      </div>
      <div class="card-body text-center">
        <img src="{% static 'img/icon.png' %}" alt="Logo" class="mb-3"/>
        <p class="mb-3">Gestión simple para tu negocio</p>
        <div class="d-grid gap-2">
          <a href="{% url 'login' %}" class="btn btn-primary">Ingresar</a>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
